{% include "header.html" %}
{% from 'bootstrap5/form.html' import render_form %}

<div class="container-fluid">
  <div class="row">
    {% include "sidebar.html" %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h3 class="h2">Orders</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <a>{{ name }} - {{ role }}</a>
            <img src="../static/svg/user.svg" class="spaced-img">
          </div>
        </div>
      </div>


      <div class="container">
        <div class="row justify-content-left">
          <div class="col-md-10">
            <!-- Flash message for caution -->
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div>
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
            
            <form method="POST" action="{{ url_for('orders') }}">
              <h3>Customer Information</h3><br>
              {{ render_form(form, novalidate=True) }}
            
              <br><hr>
              <h5>Terms and Conditions</h5>
              <ul>
                <li>The pharmacy will process the order once all necessary information is provided.</li>
                <li>Prescription orders may require verification with the prescribing doctor.</li>
                <li>Insurance coverage will be verified, and any copayments will be communicated to the customer.</li>
                <li>Payment is due at the time of delivery/pickup.</li>
              </ul>

              <br><hr><br>
            </form>

          </div>
        </div>
      </div>

    </main>
    
  </div>
</div>



{% include "footer.html" %}